<%= form_for [@topic, @bookmark] do |f| %>
  <div class="form-group">
    <%= f.label :url %><br />
    <%= f.text_field :url, class: 'form-control', placeholder: 'Enter your Bookmark URL here' %>
    <%= f.submit "Save" %>
  </div>
<% end %>
