<h1 class="title">RockiTopics</h1><br />
  <div class="row">
    <div class="col-md-4">
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-primary' %>
    </div>
      <div class="col-md-8">
        <% @topics.each do |topic| %>
          <%= link_to topic.title, topic %>
        <% end %>
      </div>
  </div>
