<div class="jumbotron">
  <h1 class="center">Rockmarks</h1>
  <p class="center">Rock The Marks with Bookmarks!</p>
  <p class="center"> Please <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary' %> with us or <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %></p> 
</div>
