<div class="jumbotron">
  <h1 class="center">Rockmarks</h1>
  <p class="center">Rock The Marks with Bookmarks!</p>
  <p class="center"> Please <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary' %> with us or <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %></p>
</div>

<div class="header">
  <div class="col-lg-12">
    <div class="container">
      <div class="col-md-4">
        <h4>Best code school out there</h4>
        <a class="embedly-card" href="http://www.bloc.io">Bloc | Online Coding Bootcamp for Developers and Web Designers</a>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
      <div class="col-md-4">
        <h4>Need help with code?</h4>
          <a class="embedly-card" href="http://www.stackoverflow.com">Stack Overflow</a>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
    </div>
  </div>
</div>
